* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #4cb889;
}

#drum-machine {
  width: 90%;
  height: 90vh;
  border: 3px solid black;
  border-radius: 20px;
  background: linear-gradient(145deg, #51c593, #44a67b);
  box-shadow: 20px 20px 60px #419c74, -20px -20px 60px #57d49e;
  margin: 10% auto;
}

.banks-container {
  width: 100%;
  height: 90%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  padding: 1rem;
}

.drum-pad {
  border-radius: 20px;
  background: #4cb889;
  box-shadow: 20px 20px 60px #419c74, -20px -20px 60px #57d49e;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
